.page {
  min-width: 320px;
  max-width: 880px;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;

}
