.profile__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__about {
    text-align: center;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
