.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  transform: translateY(9px);
}

@media screen and (max-width: 776px) {
  .profile__name {
    max-width: calc(100vw - 54px - 18px - 24px);
  }
}

@media screen and (max-width: 634px) {
  .profile__name {
    font-size: 27px;
    line-height: calc(33 / 27);
    transform: translateY(7px);
    max-width: calc(100vw - 38px - 10px - 18px);
  }
}
