.profile__btn-add {
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(../../../images/btn-add.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: .2s;
  outline: none;
}

.profile__btn-add:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__btn-add {
    width: 100%;
    max-width: 282px;
  }
}
