.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
  padding: 0;
}

@media screen and (max-width: 879px) {
  .footer {
    margin: 0 27px 60px;
  }
}

@media screen and (max-width: 634px) {
  .footer {
    margin: 0 19px 36px;
  }
}
